mixin utf8()
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

mixin generator()
  meta(name="generator" content="grunt-contrib-pug v2.0.0")

mixin lastmod()
  meta(http-equiv="Last-Modified" content=new Date().toGMTString())

mixin stylesheet(href)
  link(href=href rel="stylesheet" type="text/css")

mixin favicon(href, type)
  link(href=href rel="shortcut icon" type=`image/${type}`)

//- SciADVLists {{{
mixin desc()
  p.desc
    span (Bold = translated in English)
    br
    span (Underlined = officially localized)

mixin footer()
  p: em
    | The list does not include: fanmade stuff,
    | soundtracks, artbooks, and any other merch.
  p: a(style={color: "green"} href="..") Go back

mixin twitter(username, content)
  li: a.twitter(href=`https://twitter.com/${username}`
                rel="noopener" target="_blank")= content
//- }}}

